#root .Guarantees {
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#root .Guarantees > .Guarantee {
    padding: 1rem;
    text-align: center;
}